<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Chef-Site</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
</head>

<body>
<header th:fragment="header">
    <div class="container">
        <div class="site-header">
            <a class="logo" th:href="@{/}">Chef-Site</a>
            <a class="new-recipe button icon-left" th:href="@{/recipes/add}"><i class="material-icons">add</i> New
                Recipe</a>
        </div>
    </div>
</header>

<nav th:fragment="nav">
    <ul>
        <li th:classappend="${focus} == 'recipes' ? 'selected' : ''"><a th:href="@{/}">Recipes</a></li>
        <li th:classappend="${focus} == 'portions' ? 'selected' : ''"><a
                th:href="@{/portions}">Portions</a></li>
        <li th:classappend="${focus} == 'ingredients' ? 'selected' : ''"><a th:href="@{/ingredients}">Ingredients</a></li>
    </ul>
</nav>

<div th:fragment="flash" th:if="${flash != null}" class="container">
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
</div>

</body>

</html>